<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>신청서 목록</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>신청자 이름</th>
    <th>신청자 학번</th>
  </tr>
  </thead>
  <tbody>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $.get("/application/applications", function(data) {
      $.each(data, function(index, application) {
        var row = $("<tr><td><a href='/application/details/" + application.num + "'>" + application.userName + "</a></td><td>" + application.studentId + "</td></tr>");
        $("tbody").append(row);
      });
    });
  </script>
  </tbody>
</table>
</body>
</html>