<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script th:inline="javascript">
        $.ajax({
            url: "/board/boardLists",
            type: "GET",
            success: function(boardList) {
                console.log(boardList);
                boardList.forEach(function(board) {
                    const option = $('<option>').attr('value', board.id).text(board.name);
                    $('#board-select').append(option);
                });
            },
            error: function(error) {
                console.log(error);
            }
        });

        function createPost() {
            var accessToken = localStorage.getItem('accessToken');

            // 토큰이 없는 경우 로그인 페이지로 리다이렉트 또는 다른 처리를 수행할 수 있습니다.
            if (!accessToken) {
                alert('로그인이 필요합니다.');
                window.location.href = '/login'; // 로그인 페이지로 리다이렉트 예시
                return;
            }
            const boardId = $('#board-select').val();
            const title = $('#title-input').val();
            const content = $('#content-textarea').val();
            if (!boardId || !title || !content) {
                alert('모든 항목을 입력해주세요.');
                return;
            }

            const requestBody = {
                title: title,
                content: content
            };

            $.ajax({
                type: 'POST',
                url: '/post/createPost?boardId=' + boardId,
                data: JSON.stringify(requestBody),
                contentType: 'application/json',
                headers: {
                    'Authorization': 'Bearer ' + accessToken // 토큰을 헤더에 추가합니다.
                },
                success: function () {
                    alert('게시글이 작성되었습니다.');
                    location.href = '/';
                },
                error: function (error) {
                    console.log(error);
                    alert('게시글 작성에 실패하였습니다.');
                }
            });
        }
    </script>
</head>
<body>
<form id="post-form">
    <div>
        <label for="board-select">게시판 선택:</label>
        <select name="boardId" id="board-select">
            <option value="">선택하세요</option>
        </select>
    </div>
    <div>
        <label for="title-input">제목:</label>
        <input type="text" id="title-input" name="title">
    </div>
    <div>
        <label for="content-textarea">내용:</label>
        <textarea id="content-textarea" name="content"></textarea>
    </div>
    <button type="button" onclick="createPost()">등록</button>
</form>
</body>
</html>
