<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>기자재 목록</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>기자재명</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $.get("/equipment/AllEquipment", function(data) {
      $.each(data, function(index, equipment) {
        var borrowStatus = equipment.usingYN ? "대여중" : "대여가능";
        var borrowBtn = $("<button onclick='borrowEquipment(" + equipment.id + ")'>대여</button>");
        var returnBtn = $("<button onclick='returnEquipment(" + equipment.id + ")'>반납</button>");
        var actionBtn = equipment.usingYN ? returnBtn : borrowBtn;
        var row = $("<tr><td>" + equipment.name + "</td><td>" + borrowStatus + "</td><td></td><td></td></tr>");
        row.children().eq(2).append(actionBtn);
        $("tbody").append(row);
      });
    });

    function borrowEquipment(equipmentId) {
      // 로컬 스토리지에서 토큰을 가져옵니다.
      var accessToken = localStorage.getItem('accessToken');

      // 토큰이 없는 경우 로그인 페이지로 리다이렉트 또는 다른 처리를 수행할 수 있습니다.
      if (!accessToken) {
        alert('로그인이 필요합니다.');
        window.location.href = '/login'; // 로그인 페이지로 리다이렉트 예시
        return;
      }

      $.ajax({
        url: '/equipment/borrow/' + equipmentId,
        type: 'PUT',
        headers: {
          'Authorization': 'Bearer ' + accessToken // 토큰을 헤더에 추가합니다.
        },
        success: function() {
          alert('대여가 완료되었습니다.');
          location.reload();
        },
        error: function() {
          alert('대여에 실패하였습니다.');
        }
      });
    }

    function returnEquipment(equipmentId) {
      // 로컬 스토리지에서 토큰을 가져옵니다.
      var accessToken = localStorage.getItem('accessToken');

      // 토큰이 없는 경우 로그인 페이지로 리다이렉트 또는 다른 처리를 수행할 수 있습니다.
      if (!accessToken) {
        alert('로그인이 필요합니다.');
        window.location.href = '/login'; // 로그인 페이지로 리다이렉트 예시
        return;
      }

      $.ajax({
        url: '/equipment/return/' + equipmentId,
        type: 'PUT',
        headers: {
          'Authorization': 'Bearer ' + accessToken // 토큰을 헤더에 추가합니다.
        },
        success: function() {
          alert('반납이 완료되었습니다.');
          location.reload();
        },
        error: function() {
          alert('반납에 실패하였습니다.');
        }
      });
    }
  </script>
  </tbody>
</table>
</body>
</html>
