<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>DN Lab</title>
</head>
<body>
<div class="container">
    <div>
        <h1>Dn 연구실에 오신걸 환영합니다.</h1>
        <p>회원 기능</p>
        <a th:if="${session.user == null}" href="/user/signUp">회원 가입</a>
        <a th:if="${session.user == null}" href="/user/login">로그인</a>
        <a th:if="${session.user != null}" href="/user/userList">사용자 목록</a>
        <a id="attendance-button" th:if="${session.user != null}" href="#">출석 확인</a>
        <a th:if="${session.user != null}" href="/application/insertApplication">연구실 가입 신청</a>
        <a th:if="${session.user != null}" href="/application/AllApplication">연구실 가입 승인</a>
        <p>도서 기능</p>
        <a href="/book/insertBook">도서 추가</a>
    </div>
</div>

<script>
    document.getElementById("attendance-button").addEventListener("click", function () {
        var now = new Date();
        var hour = now.getHours();
        var minute = now.getMinutes();

        fetch('/attendance/doAttendance', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                startTime: getTodayAt(hour, minute)
            })
        })
            .then(response => response.json())
            .then(data => {
                alert("출석 확인이 완료되었습니다.");
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });

    function getTodayAt(hour, minute) {
        var cal = new Date();
        cal.setHours(hour);
        cal.setMinutes(minute);
        cal.setSeconds(0);
        cal.setMilliseconds(0);
        return cal.toISOString();
    }
</script>
</body>
</html>
