<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DN Lab: 로그인</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $('form').on('submit', function(e){
                e.preventDefault();
                var user = {
                    "uid": $('input[name=uid]').val(),
                    "pw": $('input[name=pw]').val()
                };
                $.ajax({
                    url: '/user/login',
                    type: 'POST',
                    data: JSON.stringify(user),
                    contentType: 'application/json',
                    success: function(response) {
                        // 서버에서 JWT 토큰을 받아옵니다.
                        var accessToken = response.accessToken;
                        if (accessToken) {
                            // JWT 토큰을 로컬 스토리지에 저장합니다.
                            localStorage.setItem('accessToken', accessToken);
                            alert("로그인 성공");
                            // 로그인 성공 시 이동할 페이지로 리다이렉트합니다.
                            window.location.href = "/";
                        } else {
                            alert("로그인 실패: 서버에서 JWT 토큰을 받지 못했습니다.");
                        }
                    },
                    error: function() {
                        alert("로그인 실패: 아이디 또는 비밀번호가 일치하지 않습니다.");
                    }
                });
            });
        });
    </script>
</head>
<body>
<form>
    <input type="text" name="uid" placeholder="아이디"><br>
    <input type="password" name="pw" placeholder="비밀번호"><br>
    <button type="submit">로그인</button>
</form>
</body>
</html>
