<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DN Lab: 로그인</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $('form').on('submit', function(e){
                e.preventDefault();
                var user = {
                    "username": $('input[name=username]').val(),
                    "password": $('input[name=password]').val()
                };
                console.log("test");
                $.ajax({
                    url:'/user/login',
                    type:'POST',
                    data: JSON.stringify(user),
                    contentType: 'application/json',
                    success:function(){
                        console.log(user);
                        alert("로그인 되었습니다.");
                        $('input[name=username]').val('');
                        $('input[name=pw]').val('');
                        window.location.href = "/";
                    },
                    error:function(){
                        alert("아이디 또는 비밀번호가 일치하지 않습니다.");
                    }
                });
            });
        });
    </script>
</head>
<body>
<form>
    <input type="text" name="username" placeholder="아이디"><br>
    <input type="password" name="password" placeholder="비밀번호"><br>
    <button type="submit">로그인</button>
</form>

</body>
</html>