<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

<div id="user-info">
    <h2>My Page</h2>
</div>

<div id="add-todo">
    <input type="text" id="todo-input" placeholder="할 일 내용을 입력하세요">
    <button id="add-todo-btn">Add</button>
</div>

<div id="todo-list">
</div>

<script>
    function updateTodoContent(num, content) {
        $.ajax({
            url: "/todo/updateContent/" + num,
            type: "PUT",
            contentType: "application/json",
            data: JSON.stringify({
                "content": content
            }),
            success: function() {
                console.log("할 일 내용이 수정됨");
                refreshTodoList();
            },
            error: function(xhr) {
                console.log("할 일 내용 수정에 실패함");
            }
        });
    }
    function deleteTodo(num) {
        $.ajax({
            url: "/todo/delete/"+num,
            type: "DELETE",
            success: function(data) {
                refreshTodoList();
            },
            error: function(xhr) {
                alert("할 일 삭제에 실패했어요.");
            }
        });
    }
    function refreshTodoList() {
        $.ajax({
            url: "/todo/thisWeekTodo",
            type: "GET",
            success: function(data) {
                var todoList = $("#todo-list");
                todoList.empty();
                for (var i = 0; i < data.length; i++) {
                    var todo = data[i];
                    var newTodo = $("<div>").addClass("todo-item");
                    var checkbox = $("<input>").attr({
                        "type": "checkbox",
                        "id": "todo-" + todo.num
                    });
                    var label = $("<label>").attr("for", "todo-" + todo.num).text(todo.content);

                    // 수정 버튼 생성
                    let editBtn = $("<button>").addClass("edit-todo-btn").text("수정");
                    let deleteBtn = $("<button>").addClass("delete-todo-btn").text("삭제");

                    (function(todo, label, editBtn, deleteBtn, newTodo) {
                        editBtn.click(function() {
                            var editInput = $("<input>").attr({
                                "type": "text",
                                "class": "edit-todo-input",
                                "value": label.text()
                            });
                            label.replaceWith(editInput);
                            editBtn.hide();
                            deleteBtn.hide();
                            var saveBtn = $("<button>").addClass("save-todo-btn").text("저장");
                            saveBtn.click(function() {
                                var newContent = editInput.val();
                                updateTodoContent(todo.num, newContent);
                                label.text(newContent);
                                editInput.replaceWith(label);
                                editBtn.show();
                                deleteBtn.show();
                                saveBtn.remove();
                            });
                            saveBtn.insertAfter(deleteBtn);
                        });

                        deleteBtn.click(function() {
                            deleteTodo(todo.num);
                            newTodo.remove();
                        });
                    })(todo, label, editBtn, deleteBtn, newTodo);

                    // 버튼들 추가
                    newTodo.append(checkbox).append(label).append(deleteBtn).append(editBtn);

                    todoList.append(newTodo);
                }
            },
            error: function(xhr) {
                $("#todo-list").html("<p>할 일 정보를 불러오는데 실패함</p>");
            }
        });
    }
    $(document).ready(function() {
        // Load user information
        $.ajax({
            url: "/user/myPage",
            type: "GET",
            success: function(data) {
                var user = data;
                var userInfo = "<p>Student ID: " + user.studentId + "</p>";
                userInfo += "<p>Name: " + user.name + "</p>";
                userInfo += "<p>Generation: " + user.generation + "</p>";
                $("#user-info").html(userInfo);
            },
            error: function(xhr) {
                $("#user-info").html("<p>유저 정보가 없어요</p>");
            }
        });

        // Load todo list
        function loadTodoList() {
            $.ajax({
                url: "/todo/thisWeekTodo",
                type: "GET",
                success: function(data) {
                    var todoList = $("#todo-list");
                    todoList.empty();
                    for (var i = 0; i < data.length; i++) {
                        var todo = data[i];
                        var newTodo = $("<div>").addClass("todo-item");
                        var checkbox = $("<input>").attr({
                            "type": "checkbox",
                            "id": "todo-" + todo.num
                        });
                        var label = $("<label>").attr("for", "todo-" + todo.num).text(todo.content);

                        // 수정 버튼 생성
                        let editBtn = $("<button>").addClass("edit-todo-btn").text("수정");
                        let deleteBtn = $("<button>").addClass("delete-todo-btn").text("삭제");

                        (function(todo, label, editBtn, deleteBtn, newTodo) {
                            editBtn.click(function() {
                                var editInput = $("<input>").attr({
                                    "type": "text",
                                    "class": "edit-todo-input",
                                    "value": label.text()
                                });
                                label.replaceWith(editInput);
                                editBtn.hide();
                                deleteBtn.hide();
                                var saveBtn = $("<button>").addClass("save-todo-btn").text("저장");
                                saveBtn.click(function() {
                                    var newContent = editInput.val();
                                    updateTodoContent(todo.num, newContent);
                                    label.text(newContent);
                                    editInput.replaceWith(label);
                                    editBtn.show();
                                    deleteBtn.show();
                                    saveBtn.remove();
                                });
                                saveBtn.insertAfter(deleteBtn);
                            });

                            deleteBtn.click(function() {
                                deleteTodo(todo.num);
                                newTodo.remove();
                            });
                        })(todo, label, editBtn, deleteBtn, newTodo);

                        // 버튼들 추가
                        newTodo.append(checkbox).append(label).append(deleteBtn).append(editBtn);

                        todoList.append(newTodo);
                    }
                },
                error: function(xhr) {
                    $("#todo-list").html("<p>할 일 정보를 불러오는데 실패함</p>");
                }
            });
        }

        loadTodoList();

        $("#add-todo-btn").click(function() {
            var todoContent = $("#todo-input").val();
            if (todoContent === "") {
                alert("내용을 입력해주세요.");
                return;
            }

            $.ajax({
                url: "/todo/createTodo",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    content: todoContent
                }),
                success: function (data) {
                    var newTodo = "<div class='todo-item'><input type='checkbox' id='todo-" + data.id + "'><label for='todo-" + data.id + "'>" + data.content + "</label></div>";
                    $("#todo-list").append(newTodo);
                    $("#todo-input").val("");

                    // 할 일 추가 후 리프레시하는 함수
                    refreshTodoList();
                },
                error: function (xhr) {
                    alert("할일 추가에 실패했어요");
                }
            });
        });
    });
</script>
</body>
</html>
