<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
</head>
<body>
<form method="post" action="/addUser">
  <div class="container">
    <h1>회원가입</h1>
    <div class="form-group">
      <label for="id">userId</label>
      <input type="text" class="form-control" id="id" name="id" placeholder="사용자 아이디">
    </div>
    <div class="form-group">
      <label for="name">userName</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="사용자 이름">
    </div>
    <div class="form-group">
      <label for="pw">password</label>
      <input type="password" class="form-control" id="pw" name="pw" placeholder="사용자 비밀번호">
    </div>
    <button type="submit" class="btn btn-primary">가입 완료</button>
  </div>
</form>
</body>
</html>